@import './variables';

.box {
  padding: 0.8rem;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0 15px $dark;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__meta {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
  }

  &.is-light {
    background: $light;

    .box__meta {
      color: $dark;
    }
  }

  &.is-dark {
    background: $dark;

    .box__meta {
      color: $light;
    }
  }

  &.is-primary {
    background: $primary;

    .box__meta {
      color: $dark;
    }
  }
}
