@import './variables';

$iconSize: 12vh;

.icon__container {
  width: $iconSize;
  height: $iconSize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 300ms ease-out;

  &:hover {
    filter: contrast(1.5);
  }

  &:active {
    box-shadow: inset 0 0 15px $dark;
  }

  .icon__image {
    width: 70%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .icon__meta {
    font-size: 1rem;
  }
}
