@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './normalize';
@import './variables';
@import './button';

html {
  * {
    font-family: $mainFont;
    color: $light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  background: $dark;
}

.container {
  width: 80vw;
  margin: 0 auto;
}
