@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css');
@import './normalize';
@import './variables';
@import './button';
@import './box';
@import './icon';
@import './menuItem';
@import './swal2';

html {
  * {
    font-family: $mainFont;
    color: $light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }
}

body {
  background: $dark;
}
